---
title: "Application of R for Finance - Assignment 2"
subtitle: "Stocks Return Analysis and Fama-French 3 Model"
author: Group 30 
date: "17 October 2025"
institute: "Imperial Business School"
format:
  pdf:
    fig-cap-location: top
    include-in-header:
      text: |
        \usepackage[labelfont=bf,textfont=bf]{caption}   
execute:
  warning: false
  message: false
---
\newpage
\tableofcontents
\listoffigures
\newpage

# **Data Preparation**

## Required libraries
Load the following libraries for data analysis and visualisation.

In [1]:
library(dplyr)
library(lubridate)
library(ggplot2)
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union



Attaching package: ‘lubridate’


The following objects are masked from ‘package:base’:

    date, intersect, setdiff, union

## Data Frame

Load the dataset **sp500_2023_2024.csv** into a data frame.

This dataset contains company identifiers, trading information, and classification codes. List below summarises the main variables.

In [ ]:
# load the data
data <- read.csv("sp500_2023_2024.csv")

In [ ]:
# remove any rows with NA values in the prcod column

In [ ]:
# inspect the strucutre
head(data)

  tic datadate   conm                       exchg sic  cshtrd  prccd prchd
1 PNW 03/01/2023 PINNACLE WEST CAPITAL CORP 11    4911 1442534 74.63 76.4125
2 PNW 04/01/2023 PINNACLE WEST CAPITAL CORP 11    4911  954218 75.39 76.0950
3 PNW 05/01/2023 PINNACLE WEST CAPITAL CORP 11    4911  994775 73.65 75.0950
4 PNW 06/01/2023 PINNACLE WEST CAPITAL CORP 11    4911  729808 75.46 76.0200
5 PNW 09/01/2023 PINNACLE WEST CAPITAL CORP 11    4911  656127 75.55 76.4800
6 PNW 10/01/2023 PINNACLE WEST CAPITAL CORP 11    4911  763254 75.65 75.6950
  prcld  prcod gvkey
1 73.380 76.25 1075
2 74.630 75.10 1075
3 73.305 74.88 1075
4 74.480 74.49 1075
5 75.240 75.24 1075
6 74.880 75.31 1075

# **Part I - Q&A**

In the first section, several key features are first calculated to provide deeper insights for analysis. Then, we interrogate the data following the Assignment Specification.

## Indicators Calculation

In [12]:
# Calculate simple weekly returns for each ticker in the full dataset
weekly_returns <- data %>%
  mutate(datadate = as.Date(datadate, format = "%d/%m/%Y")) %>%
  group_by(tic) %>%
  arrange(datadate) %>%
  mutate(Week = floor_date(datadate, unit = "week")) %>%
  group_by(tic, Week) %>%
  summarise(Weekly_Close = last(prccd)) %>%
  arrange(tic, Week) %>%
  mutate(Weekly_Return = (Weekly_Close / lag(Weekly_Close)) - 1) %>%
  ungroup()

`summarise()` has grouped output by 'tic'. You can override using the `.groups`
argument.

## Answers of Questions
### Q1 - Unique tickers

In [ ]:
# indentify the amount of unique tickers

### Q2 - Unique companies

In [ ]:
# indentify the amount of unique companies

### Q3 - Top 5 Mean Trading Volume Companies

In [ ]:
# indentify the top 5 companies by largest mean trading volume

# display in a table

### Q4 - Top 3 Total Trading Volume Exchanges

In [ ]:
# indentify the top 3 exchanges by total largest total trading volume

# display in a table

### Q5 - Visualisation of Top 3 Total Trading Volume Exchanges

In [ ]:
# display in a bar plot

### Q6 - Companies with More Than One Ticker

In [ ]:
# indentify companies have more than one ticker

### Q7 - Ticker with the Largest Positive Mean Return

In [ ]:
# indentify the ticker with the largest positive mean return (simple daily return)

### Q8 - Company with the Largest Positive Mean Return

In [ ]:
# indentify the company with the largest positive mean return (simple daily return)

### Q9 - Industry Represented by the Most Companies

In [ ]:
# indentify the industry is represented by the most companies

# **Part II - Extended Analysis**

In the second section, we first calculate the weekly returns with following formulas to carry out the extended analysis. After categorising the data into decile groups, a specific security is picked for further analysis.

### Q1 - Weekly Returns

In [ ]:
# calculate the simple weekly returns

### Q2 - Decile Classification

In [ ]:
# categorise data into decile groups, labelled 0%, 10%, 20%, ...

# display the result

### Q3 - Top Ticker in each Decile Group

In [ ]:
# identify the top ticker in each decile group


# display the result in a table

### Q4 - Ticker Selection from 60% Decile Group

In [ ]:
# display the 60% decile group

# select a specific ticker

### Q5 - Autocorrelation Anlysis

In [ ]:
# plot the autocorrelation function for XXX's entire set of weekly returns

# **Part III - Fama-French 3 Factor Model**

In the last section, we first load and clean the the **fama_french_weekly.csv** to provide the weekly Fama-French 3 factors for modelling. Next, the XXX is fitted the Fama-French 3 factor model.

In [ ]:
# load the data

In [ ]:
# clean the data

In [ ]:
# model fitting

# **Analysis Report**

This report applied R-based analysis to stock returns and Fama-French 3 factor model.